# Ignorar diretórios e arquivos do Maven (se aplicável)
/.idea/
/.vscode/
/target/
/bin/
/out/
/venv/

# Ignorar dependências do Python
*.pyc
*.pyo
*.pyd
__pycache__

# Ignorar dependências do Node.js (se aplicável)
node_modules/

# Ignorar arquivos de banco de dados SQLite
*.db

# Ignorar arquivos de configuração específicos
.env
*.log
